﻿<header-bar [banner]="banner" ></header-bar>
<div class="col col-md-12" [ngSwitch]='status'>
    <div class="center mt40" *ngSwitchCase="'loading'">
        <img src="/Content/graphismes/loader.svg" />
        <p class="mt20">Chargement des éléments...</p>
    </div>
    <div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" data-page-length='15' class="row-border hover">
            <thead>
                <tr>
                    <th><i class="fa fa-fw fa-calendar"></i> Date de création</th>
                    <th><i class="fa fa-fw fa-user"></i> Client</th>
                    <th><i class="fa fa-fw fa-signal"></i> Niveau</th>
                    <th><i class="fa fa-fw fa-eur"></i> Prix</th>
                    <th><i class="fa fa-fw fa-edit"></i> Modifier</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prod of products">
                    <td>{{ prod.Target }}</td>
                    <td>{{ prod.Family }}</td>
                    <td>{{ prod.OriginalName }}</td>
                    <td>{{ prod.BrokerCommission }}€</td>
                    <td><a><i class="fa fa-fw fa-edit"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
