﻿@media screen and (max-width: 1080px)
{
    .navbar {
        width: auto;
    }

    .navbar-header .navbar-brand {
        margin: 0 auto;
        float: none;
        display: block;
        text-align: center;
    }

    .navbar-header img {
        margin: 0 auto;
    }

    .navbar-collapse {
        border: none;
    }
}

@media screen and (max-width: 750px) {
    .contentMarged {
        width: 100%;
    }

    .BkgTitle {
        padding: 0 15px;
    }

    .ui-multiselect-panel {
        max-width: 100%;
    }

    .ui-multiselect-item {
        word-wrap: break-word;
    }
}