﻿<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/Home/Index" routerLinkActive="active"><img width="200px" src="/Content/graphismes/logo-Galileo.png" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="btn-nav"><a routerLink="/Home/Index" routerLinkActive="nav-active">Accueil</a></li>
                <li *ngIf="userRoles.indexOf('Admin') >= 0" class="btn-nav"><a routerLink="/Home/Projects" routerLinkActive="nav-active">Projets</a></li>
                <li class="btn-nav"><a href="http://www.galileo-courtage.fr/" target="_blank">Qui sommes nous ?</a></li>
                <li class="btn-nav"><a href="http://www.galileo-courtage.fr/#nav-contact" target="_blank">Contactez-nous</a></li>
                <li *ngIf="userRoles.indexOf('Admin') >= 0"><a routerLink="/Home/Account" routerLinkActive="nav-active">Admin</a></li>
                <li><a class="btn-logOff" (click)="logOut()"><i class="fa fa-power-off"></i></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>