﻿<header-bar [banner]="banner"></header-bar>

<div class="row" [ngSwitch]='status'>
    <div>
        <div class="center mt40" *ngSwitchCase="'loading'">
            <img src="/Content/graphismes/loader.svg" />
            <p class="mt20">Chargement des éléments...</p>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" data-page-length='10' class="row-border hover">
                <thead>
                    <tr>
                        <th><i class="fa fa-fw mainColor fa-calendar"></i> Date d'effet</th>
                        <th><i class="fa fa-fw mainColor fa-user"></i> Client</th>
                        <th><i class="fa fa-fw mainColor fa-users"></i> Famille</th>
                        <th><i class="fa fa-fw mainColor fa-bullseye"></i> Cible</th>
                        <th><i class="fa fa-fw mainColor fa-bookmark"></i> Produit</th>
                        <th><i class="fa fa-fw mainColor fa-signal"></i> Niveau</th>
                        <th><i class="fa fa-fw mainColor fa-euro"></i> Prix</th>
                        <th><i class="fa fa-fw mainColor fa-search"></i> voir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of projects">
                        <td>{{ project.EffectDate }}</td>
                        <td>{{ project.Client }}</td>
                        <td>{{ project.Family }}</td>
                        <td>{{ project.Target }}</td>
                        <td>{{ project.Product }}</td>
                        <td>{{ project.Level }}</td>
                        <td>{{ project.Price | currency:'EUR':true }}</td>
                        <td><a (click)="initProject(project.Id)"><i class="fa fa-fw mainColor fa-search"></i> voir</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




