﻿<p>Payment en ligne</p>

<form ngNoForm method="post" action="https://payment-webinit-mercanet.test.sips-atos.com/paymentInit">
    <input type="hidden" name="Data" [(ngModel)]="stringData">
    <input type="hidden" name="InterfaceVersion" value="HP_2.9">
    <input type="hidden" name="Seal" [(ngModel)]="seal">
    <input type="number" name="Amount" [(ngModel)]="amount" (change)="getSeal()" />
    <input type="submit" value="Proceed to payment">
</form>

<p>{{seal}}</p>
