﻿<header-bar [banner]="banner"></header-bar>

<div class="row" [ngSwitch]='status'>
	<div>
		<div class="center mt40" *ngSwitchCase="'loading'">
			<img src="/Content/graphismes/loader.svg" />
			<p class="mt20">Chargement des éléments...</p>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" data-page-length='10' class="row-border hover">
				<thead>
					<tr>
						<th><i class="fa fa-fw mainColor fa-calendar"></i> Date de la transaction</th>
						<th><i class="fa fa-fw mainColor fa-barcode"></i> Référence</th>
						<th><i class="fa fa-fw mainColor fa-reply"></i> Réponse</th>
						<th><i class="fa fa-fw mainColor fa-user"></i> Client</th>
						<th><i class="fa fa-fw mainColor fa-euro"></i> Montant</th>
						<th><i class="fa fa-fw mainColor fa-mobile"></i> Mobile</th>
						<th><i class="fa fa-fw mainColor fa-envelope"></i> Adresse email</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let payment of payments">
						<td>{{ payment.TransactionDate }}</td>
						<td>{{ payment.TransactionReference }}</td>
						<td>{{ payment.ResponseCode }}</td>
						<td>{{ payment.Client }}</td>
						<td>{{ payment.Price | currency:'EUR':true }}</td>
						<td>{{ payment.MobilePhoneNumber }}</td>
						<td>{{ payment.EmailAddress }}</td>
					</tr>
				</tbody>
			</table>
            <button id="payment-list-button" (click)="downloadList()">Télécharger la liste</button>
		</div>
	</div>
</div>
