﻿<p-dialog header="Entre vous et nous !" [(visible)]="displaySurvey" modal="modal" width="400" responsive="true" resizable="false">
    <form #form="ngForm" (ngSubmit)="submitForm(form.value)">
        <div class="form-group">
            <label>Nom du cabinet</label>
            <input type="text" class="form-control" placeholder="Doe" name="LastName" ngModel>
        </div>
        <div class="form-group">
            <label>Quelle est votre spécialité ?</label>
            <div class="select">
                <select name="Speciality" ngModel>
                    <option value="Santé">Santé</option>
                    <option value="IARD">IARD</option>
                    <option value="Retraite">Retraite</option>
                    <option value="Prévoyance">Prévoyance</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Orias</label>
        </div>
        <div class="form-group">
            <label>Numéro Orias</label>
            <input type="text" class="form-control" placeholder="000000" name="Orias" ngModel>
        </div>
        <label>Sexe</label>
        <div class="radio">
            <label>
                <input type="radio" name="gender" value="Male" ngModel>
                Male
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="gender" value="Female" ngModel>
                Female
            </label>
        </div>
        <label>Commission</label>
        <div class="select">
            <select name="Commission" ngModel>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
        </div>
        <input type="text" name="other" ngModel>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</p-dialog>