﻿<div *ngFor="let child of model; let i = index;" class="row">
    <h3 class="panel-title margin-bottom-20">
        <span class="widget-icon"> <i class="fa fa-user"></i></span> Enfant {{i + 1}}
    </h3>
    <div *ngIf="inputList.indexOf('Civility') >= 0" class="col col-md-1 margin-bottom-10">
        <label class="label-form">Civilité</label>
        <br>
        <p-inputSwitch onLabel="Mr" offLabel="Mme" [(ngModel)]="check[i]" (onChange)="checkTitle($event, i)"></p-inputSwitch>
    </div>
    <div *ngIf="inputList.indexOf('Name') >= 0" class="margin-bottom-10">
        <div class="col col-md-2">
            <label class="label-form">Nom<span class="asterix">*</span></label>
            <label class="input">
                <i class="icon-prepend fa fa-user"></i>
                <input type="text" name="ClientPersonName" [(ngModel)]="model[i].Name" (blur)="onDataChange()"/>
            </label>
        </div>
        <div class="col col-md-2">
            <label class="label-form">Prénom<span class="asterix">*</span></label>
            <label data="conjoint" class="input alert-hover">
                <i class="icon-prepend fa fa-user"></i>
                <input type="text" name="ClientPersonFirstName" pInputText [(ngModel)]="model[i].FirstName" (blur)="onDataChange()"/>
            </label>
        </div>
        <div class="col col-md-2" *ngIf="inputList.indexOf('Secu') >= 0">
            <label class="label-form">N° sécurité sociale<span class="asterix">*</span></label>
            <label class="input">
                <i class="icon-prepend fa fa-credit-card"></i>
                <input [textMask]="{mask: secuMask, guide: false}" type="text" name="ClientPersonSocialSecurityNumber" [(ngModel)]="model[i].SocialSecurityNumber" (blur)="completeSecurityNumber($event, i)" placeholder="_ __ __ __ ___ ___ __">
            </label>
        </div>
    </div>
</div>