﻿<div class="col col-md-3 margin-bottom-10" *ngIf="inputList.indexOf('LegalForm') >= 0">
    <label class="label-form">Forme légale</label>
    <div class="ui-g-12">
        <p-dropdown name="LegalForm" [options]="LegalFormList" [(ngModel)]="model.LegalForm" (onChange)="onDataChange()"></p-dropdown>
        <i></i>
    </div>
</div>
<div class="col col-md-3 margin-bottom-10" *ngIf="inputList.indexOf('Siret') >= 0">
    <label class="label-form">N° Siret<span class="asterix">*</span></label>
    <label class="input">
        <i class="icon-prepend fa fa-pencil-square-o"></i>
        <input type="text" [textMask]="{mask: siretMask, guide: false}" name="Siret" [(ngModel)]="model.Siret" placeholder="______________" (change)="onDataChange()">
    </label>
</div>
<div class="col col-md-3 margin-bottom-10" *ngIf="inputList.indexOf('NafCode') >= 0">
    <label class="label-form">Code Ape</label>
    <label class="input">
        <i class="icon-prepend fa fa-credit-card"></i>
        <input type="text" [textMask]="{mask: nafMask, guide: false}" name="NafCode" [(ngModel)]="model.NafCode" placeholder="_____" (change)="onDataChange()">
    </label>
</div>
<div class="col col-md-3 margin-bottom-10" *ngIf="inputList.indexOf('Name') >= 0">
    <label class="label-form">Raison Sociale<span class="asterix">*</span></label>
    <label data="conjoint" class="input alert-hover">
        <i class="icon-prepend fa fa-university"></i>
        <input type="text" name="Name" pInputText [(ngModel)]="model.Name" (change)="onDataChange()" />
    </label>
</div>
<div *ngIf="inputList.indexOf('ContactDetails') >= 0">
    <div class="col col-md-3 margin-bottom-10">
        <label class="label-form">Email<span class="asterix">*</span></label>
        <label class="input">
            <i class="icon-prepend fa fa-envelope"></i>
            <input type="text" name="EmailAddress" pInputText [(ngModel)]="model.MailPhoneFax.EmailAddress" (change)="onDataChange()" />
        </label>
    </div>
    <div class="col col-md-3 margin-bottom-10">
        <label class="label-form">N° téléphone<span class="asterix">*</span></label>
        <label class="input">
            <i class="icon-prepend fa fa-phone"></i>
            <input type="text" name="PhoneNumber" [textMask]="{mask: phoneMask, guide: false}" [(ngModel)]="model.MailPhoneFax.MobilePhoneNumber" placeholder="__ __ __ __ __" (change)="onDataChange()">
        </label>
    </div>
</div>
<div class="col col-md-3 margin-bottom-10" *ngIf="inputList.indexOf('Address') >= 0">
    <label class="label-form">Adresse<span class="asterix">*</span></label>
    <label class="input">
        <i class="icon-prepend fa fa-road"></i>
        <input type="text" name="Address" pInputText [(ngModel)]="model.Address.Address" (change)="onDataChange()" />
    </label>
</div>
<post-code-and-city [postCode]="model.Address.PostCode" [city]="model.Address.City" (sharedSelectedPostCode)='model.Address.PostCode=$event' (sharedSelectedCity)='model.Address.City=$event' (change)="onDataChange()" *ngIf="inputList.indexOf('CityPostCode') >= 0"></post-code-and-city>
<div class="col col-md-3 margin-bottom-10" *ngIf="inputList.indexOf('EmployeesNumber') >= 0">
    <label class="label-form">Nombre de salariés<span class="asterix">*</span></label>
    <label class="input">
        <i class="icon-prepend fa fa-users"></i>
        <input type="number" name="EmployeesNumber" pInputText [(ngModel)]="model.EmployeesNumber" (change)="changeEmployeesNumber($event)" />
    </label>
</div>
<div class="col col-md-3 margin-bottom-10" *ngIf="inputList.indexOf('EmployeesAverageAge') >= 0">
    <label class="label-form">Age moyen des salariés<span class="asterix">*</span></label>
    <label class="input">
        <i class="icon-prepend fa fa-users"></i>
        <input type="number" name="EmployeesAverageAge" pInputText [(ngModel)]="model.EmployeesAverageAge" (change)="changeEmployeesAverageAge($event)" />
    </label>
</div>
<div class="col col-md-3 margin-bottom-10" *ngIf="inputList.indexOf('SalareesPortability') >= 0">
    <label class="label-form">Salariés en portabilité</label>
    <label class="input">
        <i class="icon-prepend fa fa-users"></i>
        <input type="text" name="Salariés en portabilité" pInputText [(ngModel)]="model.EmployeesAni" (change)="onDataChange()" />
    </label>
</div>
