﻿<div class="col col-md-3">
    <label class="label-form">Date de création<span class="asterix">*</span></label>
    <label class="input">
        <i class="icon-prepend fa fa-calendar"></i>
        <input [textMask]="{mask: dateMask, guide: false}" [(ngModel)]="dateForForm" (blur)="updateDate($event)" placeholder="JJ/MM/AAAA">
    </label>
</div>
