﻿<section class="col col-3">
    <label class="label-form">IBAN <span class="asterix">*</span></label>
    <label class="input">
        <i class="icon-prepend fa fa-credit-card"></i>
        <input [textMask]="{mask: ibanMask, guide: false}" type="text" [ngModel]="iban" name="Iban" (ngModelChange)="iban = $event" (keyup)="ibanChanged($event)" placeholder="____ ____ ____ ____ ____ ____ ____">
    </label>
</section>

