﻿<h3 class="panel-title"><span class="widget-icon"> <i class="fa fa-bank"></i></span> Méthode de paiement</h3>

<div class="row" style="margin: 30px;" *ngIf="inputList.indexOf('Division') >= 0">
    <section class="col col-md-6">
        <label class="label-form">Fractionnement souhaité </label>
        <br />
        <div class="btn-group" data-toggle="buttons">
            <label [class.active]="radioCheat('Mensuel', model.Division)" class="btn btn-default" (click)="updateDivision('Mensuel')" *ngIf="inputList.indexOf('Mensuel') >= 0">
                <input type="radio" name="division" class="margin-right-40" value="Mensuel" label="Mensuel" [(ngModel)]="model.Division">
                <i>Mensuel</i>
            </label>
            <label [class.active]="radioCheat('Trimestriel', model.Division)" class="btn btn-default" (click)="updateDivision('Trimestriel')" *ngIf="inputList.indexOf('Trimestriel') >= 0">
                <input type="radio" name="division" value="Trimestriel" label="Trimestriel" [(ngModel)]="model.Division">
                <i>Trimestriel</i>
            </label>
            <label [class.active]="radioCheat('Semestriel', model.Division)" class="btn btn-default" (click)="updateDivision('Semestriel')" *ngIf="inputList.indexOf('Semestriel') >= 0">
                <input type="radio" name="division" value="Semestriel" label="Semestriel" [(ngModel)]="model.Division">
                <i>Semestriel</i>
            </label>
            <label [class.active]="radioCheat('Annuel', model.Division)" class="btn btn-default" (click)="updateDivision('Annuel')" *ngIf="inputList.indexOf('Annuel') >= 0">
                <input type="radio" name="division" value="Annuel" label="Annuel" [(ngModel)]="model.Division">
                <i>Annuel</i>
            </label>
        </div>
    </section>
</div>
<div class="row" style="margin: 30px;">
    <section class="col col-4">
        <label class="label-form block">Moyen de paiement</label>
        <div class="btn-group" data-toggle="buttons">
            <label [class.active]="radioCheat('C', model.PaymentMethod)" class="btn btn-default" (click)="changePaymentMethod('C')" *ngIf="inputList.indexOf('C') >= 0">
                <input type="radio" name="PaymentMethod" pInputText [(ngModel)]="model.PaymentMethod" value="C" />
                <i></i>Chèque
            </label>
            <label [class.active]="radioCheat('P', model.PaymentMethod)" class="btn btn-default" (click)="changePaymentMethod('P')" *ngIf="inputList.indexOf('P') >= 0">
                <input type="radio" name="PaymentMethod" pInputText [(ngModel)]="model.PaymentMethod" value="P" />
                <i></i>Prélèvement
            </label>
            <label [class.active]="radioCheat('V', model.PaymentMethod)" class="btn btn-default" (click)="changePaymentMethod('V')" *ngIf="inputList.indexOf('V') >= 0">
                <input type="radio" name="PaymentMethod" pInputText [(ngModel)]="model.PaymentMethod" value="V" />
                <i></i>Virement
            </label>
        </div>
    </section>
    <div *ngIf="model.PaymentMethod == 'C'">
        <p class="margin-left-20 rouge t-dosis bold">Attention, l'attestation ne sera délivrée uniquement après réception du paiement</p>
    </div>
    <div *ngIf="model.PaymentMethod == 'P' && inputList.indexOf('AccountData') >= 0">
        <div *ngIf="model.Product.Target == 'Entreprise'">
            <iban [ibanInput]="model.Client.BankAccountData.Iban" (sharedIban)="changeClientIban($event)"></iban>
            <bic [bicInput]="model.Client.BankAccountData.Bic" (sharedBic)="changeClientBic($event)"></bic>
        </div>
        <div *ngIf="model.Product.Target == 'Particulier' || model.Product.Target == 'TNS'">
            <iban [ibanInput]="model.ClientPerson.BankAccountData.Iban" (sharedIban)="changeClientPersonIban($event)"></iban>
            <bic [bicInput]="model.ClientPerson.BankAccountData.Bic" (sharedBic)="changeClientPersonBic($event)"></bic>
        </div>
    </div>
</div>
