﻿<style>
    .ng-valid[required], .ng-valid.required {
        border-left: 5px solid #91b456; /* green */
    }

    .ng-invalid:not(form) {
        border-left: 5px solid #ca3b40; /* red */
    }
</style>

<header-bar [banner]="banner"></header-bar>
<div class="contentMarged">
    <div class="row">
        <div class="col-xs-12">
            <a class="btn" routerLink="/Account/Register">
            <i class="fa fa-user-plus"></i> Ajouter un utilisateur
            </a>
            <a class="btn" routerLink="/Payment/PaymentList">
            <i class="fa fa-list"></i> Voir la liste des paiements
            </a>
        </div>
    </div>

</div>
