﻿<style>
    .ng-valid[required], .ng-valid.required {
        border-left: 5px solid #91b456; /* green */
    }

    .ng-invalid:not(form) {
        border-left: 5px solid #ca3b40; /* red */
    }
</style>

<div class="row">
    <form #loginForm="ngForm" (ngSubmit)="login()">
        <div class="row loginPage">
            <div class="col col-md-4 col-md-offset-4 clearfix">
                <h4 class="loginTitle">Connexion</h4>
                <label class="label-form"><span [hidden]="Email.valid || Email.pristine" class="alert alert-danger">Ce champs est obligatoire</span></label>
                <input type="email" class="form-control input-rond" placeholder="Adresse Email" name="Email" [(ngModel)]="model.Email" required minLength="5" maxLength="50" email #Email="ngModel" />
                <label class="label-form"><span [hidden]="Password.valid || Password.pristine" class="alert alert-danger">Ce champs est obligatoire</span></label>
                <input type="password" class="form-control input-rond" placeholder="Mot de passe" name="Password" [(ngModel)]="model.Password" required minLength="6" maxLength="20" #Password="ngModel" />
                <br />
                <div class="row">
                    <div class="inline-block">
                        <p><a routerLink="/Account/ForgotPassword">Mot de passe oublié ?</a></p>
                        <!--<p><a routerLink="/Account/Register">Pas encore de compte ?</a></p>-->
                    </div>
                    <div class="inline-block right">
                        <button type="submit" [disabled]="!loginForm.form.valid" class="btn-logIn"><i class="fa fa-power-off"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>