﻿<style>
    .ng-valid[required], .ng-valid.required {
        border-left: 5px solid #91b456; /* green */
    }

    .ng-invalid:not(form) {
        border-left: 5px solid #ca3b40; /* red */
    }
</style>

<div>
    <form #registerForm="ngForm" (ngSubmit)="register()">
        <div class="row loginPage">
            <div class="col col-md-4 col-md-offset-4 clearfix">
                <h4 class="loginTitle">Ajouter un utilisateur</h4>
                <label class="label-form"><span [hidden]="Email.valid || Email.pristine" class="alert alert-danger">Ce champs est obligatoire</span></label>
                <input type="email" class="form-control input-rond" placeholder="Adresse Email" name="Email" [(ngModel)]="model.Email" required #Email="ngModel" />
                <label class="label-form"><span [hidden]="Password.valid || Password.pristine" class="alert alert-danger">Ce champs est obligatoire</span></label>
                <input type="password" class="form-control input-rond" placeholder="Mot de passe" name="Password" pPassword [(ngModel)]="model.Password" required #Password="ngModel" />
                <label class="label-form"><span [hidden]="ConfirmPassword.valid || ConfirmPassword.pristine" class="alert alert-danger">Ce champs est obligatoire</span></label>
                <input type="password" class="form-control input-rond" placeholder="Confirmez votre mot de passe" name="ConfirmPassword" pPassword [(ngModel)]="model.ConfirmPassword" required #ConfirmPassword="ngModel" />
                <br />
                <div class="row">
                    <div class="inline-block right">
                        <button type="submit" [disabled]="!registerForm.form.valid" class="btn-rond right">S'enregistrer !</button>
                        <button (click)="cancel()" class="btn-rond right">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>