﻿﻿
<style>
    .ng-valid[required], .ng-valid.required {
        border-left: 5px solid #91b456; /* green */
    }

    .ng-invalid:not(form) {
        border-left: 5px solid #ca3b40; /* red */
    }
</style>

<div>
    <form #registerForm="ngForm" (ngSubmit)="initPassword()">
        <div class="row loginPage">
            <div class="col col-md-4 col-md-offset-4 clearfix">
                <h4 class="loginTitle">Réinitialisation du mot de passe</h4>
                <input type="email" class="form-control input-rond" placeholder="Adresse Email" name="Email" [(ngModel)]="model.Email" required minlength="5" #Email="ngModel" />
                <div class="inputInfoBlock">
                    <div *ngIf="Email.errors && (Email.dirty || Email.touched)" class="alert alert-danger">
                        <div [hidden]="!Email.errors.required">
                            L'adresse email est obligatoire
                        </div>
                        <div [hidden]="!Email.errors.minlength">
                            L'adresse email doit avoir 5 caractères minimum
                        </div>
                    </div>
                </div>

                <input type="password" class="form-control input-rond" placeholder="Mot de passe" name="Password" [(ngModel)]="model.Password" required minlength="6" #Password="ngModel" />
                <div class="inputInfoBlock">
                    <div *ngIf="Password.errors && (Password.dirty || Password.touched)" class="alert alert-danger">
                        <div [hidden]="!Password.errors.required">
                            Le mot de passe est obligatoire
                        </div>
                        <div [hidden]="!Password.errors.minlength">
                            Le mot de passe doit avoir 6 caractères minimum
                        </div>
                    </div>
                </div>

                <input type="password" class="form-control input-rond" placeholder="Confirmez votre mot de passe" name="ConfirmPassword" [(ngModel)]="model.ConfirmPassword" required minlength="6" #ConfirmPassword="ngModel" />
                <div class="inputInfoBlock">
                    <div *ngIf="ConfirmPassword.errors && (ConfirmPassword.dirty || ConfirmPassword.touched)" class="alert alert-danger">
                        <div [hidden]="!ConfirmPassword.errors.required">
                            Le mot de passe est obligatoire
                        </div>
                        <div [hidden]="!ConfirmPassword.errors.minlength">
                            Le mot de passe doit avoir 6 caractères minimum
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="inline-block">
                        <p><a routerLink="/Account/ForgotPassword">Mot de passe oublié ?</a></p>
                    </div>
                    <div class="inline-block right">
                        <button type="submit" [disabled]="!registerForm.form.valid" class="btn-rond right">Mettre à jour mon mot de passe</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>