﻿<style>
    .ng-valid[required], .ng-valid.required {
        border-left: 5px solid #91b456; /* green */
    }

    .ng-invalid:not(form) {
        border-left: 5px solid #ca3b40; /* red */
    }
</style>

<header-bar [banner]="banner"></header-bar>
<div class="contentMarged">
    <fieldset>
        <form class="smart-form" #productForm="ngForm" (ngSubmit)="submitForm()">
            <div class="row mb20">
                <h3 class="rowTitle col col-12">
                    <i class="fa fa-user"></i> Client(e)
                </h3>
            </div>
            <div class="row">
                <effect-date-helper [model]="model" [startDate]="startDate" [endDate]="endDate" [firstOfMonth]="true" [roles]="roles" (modelChange)="model = $event" (change)="calculatePrice()" *ngIf="roles.length"></effect-date-helper>
                <div class="col col-md-1 margin-bottom-10">
                    <label class="label-form">TC</label>
                    <label class="select">
                        <select [(ngModel)]="model.Commission" name="Commission" (change)="calculatePrice()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <client-person-helper [model]="model" [inputList]="['CityPostCode', 'SocialSecurityRegime']" (modelChange)="calculatePrice()" (validation)="getChildValidation($event)"></client-person-helper>
            </div>
            <div class="row mb20">
                <client-person-helper [model]="model" [ageMax]="65" [inputList]="['BirthDate']" (validation)="getChildValidation($event)" (modelChange)="calculatePrice()"></client-person-helper>
                <spouse-info-helper [model]="model" [inputList]="['BirthDate']" (modelChange)="calculatePrice()" (validation)="getChildValidation($event)"></spouse-info-helper>

                <children-helper [childInput]="model.ClientPerson.Children" [returnChildBirthDates]="true" (childOutput)='calculatePrice()'></children-helper>
            </div>
            <div class="row mb20">
                <p-listbox [options]="products" [(ngModel)]="model.Base.Name" name="model.Base.Name">
                    <ng-template let-product pTemplate="item">
                        <div class="ui-helper-clearfix">
                            <img style="width:120px" src="/Content/product-img/{{ product.value }}.png" (click)="getLevelProduct(product.label)" />
                        </div>
                    </ng-template>
                </p-listbox>
            </div>

            <div class="row">
                <div class="col col-md-4 col-md-offset-4">
                    <div class="center">
                        <p-selectButton class="roundSelect" [options]="levels" [(ngModel)]="model.Base.Level" name="model.Base.Level" (onChange)="calculatePrice()">{{ levels.value }}</p-selectButton>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="pricePanel col col-md-4 col-md-offset-4">
                    <h3>Prix</h3>
                    <p *ngIf="productForm.form.valid">{{ santePrice | number : '1.2-2' }} €</p>
                    <p *ngIf="!productForm.form.valid">{{ error }}</p>
                </div>
            </div>
            <div class="row mb20">
                <h3 class="rowTitle col col-12">
                    <i class="fa fa-user"></i> Informations Client
                </h3>
            </div>

            <div class="row mb20">
                <client-person-helper [model]="model" [inputList]="['Civility', 'Name', 'Secu']" (validation)="getChildValidation($event)"></client-person-helper>
            </div>

            <div class="row mb20">
                <spouse-info-helper *ngIf="model.ClientPerson.Spouse" [model]="model" [inputList]="['Civility', 'Name', 'Secu']" (validation)="getChildValidation($event)"></spouse-info-helper>
            </div>

            <div *ngIf="model.ClientPerson.Children.length > 0" class="mb20">
                <div class="row">
                    <child-info-helper [model]="model.ClientPerson.Children" [inputList]="['Name', 'Civility', 'Secu']" (modelChange)="model.ClientPerson.Children"></child-info-helper>
                </div>
            </div>

            <documents-helper [disableElement]="!productForm.form.valid" [model]="model" [roles]="roles" [inputList]="['Bia', 'Devis', 'Download', 'Sign', 'Save']" (modelChange)="updateDocument($event)"></documents-helper>
            <button type="submit" class="btn btn-default" [disabled]="!productForm.form.valid">Submit</button>
        </form>
    </fieldset>
</div>