﻿<div class="row">
    <h1>Responsabilité Civile</h1>
</div>
<p-messages id="alertMessage" [(value)]="msgs"></p-messages>

<div class="lightbox" *ngIf="isWaiting">
    <div class="loading">
        <img src="Content/graphismes/loader.svg" />
        <h2>Chargement...</h2>
    </div>
</div>

<div [hidden]="submitted" class="contentMarged">
    <form #productForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="BkgTitle">
            <h2><i class="fa fa-building"></i> Informations techniques</h2>
        </div>
        <div class="row mb20">
            <div class="col-xs-12 col-md-3">
                <label for="PrimaryActivity">Domaine d'activité principal</label>
                <select [disabled]="model.IsPaidSubscription || model.Statut == 'signed'" class="form-control" id="PrimaryActivity" required [(ngModel)]="model.PrimaryActivity" name="PrimaryActivity" #PrimaryActivity="ngModel" (change)="listFamilyActivity($event.target.value)">
                    <option value="">---</option>
                    <option value="Conseil">Conseil</option>
                    <option value="Marketing & Media">Marketing & Media</option>
                    <option value="Informatique">Informatique</option>
                </select>
                <div *ngIf="PrimaryActivity.errors && (PrimaryActivity.dirty || PrimaryActivity.touched)" class="alert alert-danger">
                    <div [hidden]="!PrimaryActivity.errors.required">
                        Domaine d'activité principal obligatoire
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" *ngIf="model.PrimaryActivity">
                <label class="block">Liste des activités</label>
                <p-multiSelect [disabled]="model.IsPaidSubscription || model.Statut == 'signed'" [options]="allPrimaryActivitiesList" [maxSelectedLabels]="1" selectedItemsLabel="{0} activités selectionné" defaultLabel="liste des activités" name="PrimaryActivitiesList" [(ngModel)]="model.PrimaryActivitiesList"></p-multiSelect>
            </div>
            <div class="col-xs-12 col-md-3" *ngIf="model.PrimaryActivity">
                <label for="otherPrimary" class="block">Autre ?</label>
                <input [readonly]="model.IsPaidSubscription || model.Statut == 'signed'" type="text" class="form-control" name="otherPrimary" [(ngModel)]="otherPrimary" (blur)="bloqueProject($event.target.value)" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-md-3" *ngIf="model.PrimaryActivity?.length > 0">
                <label>Domaine d'activité secondaires</label>
                <p-multiSelect [disabled]="model.IsPaidSubscription || model.Statut == 'signed'" [options]="secondaryActivity" [maxSelectedLabels]="1" selectedItemsLabel="{0} activités secondaire selectionné" defaultLabel="liste des activités secondaire" name="SecondaryActivities" [(ngModel)]="model.SecondaryActivities" (onChange)="getSecondaryList($event.value)"></p-multiSelect>
            </div>

            <div class="form-group col-xs-12 col-md-3" *ngIf="model.SecondaryActivities?.length > 0 && model.SecondaryActivities.indexOf('') == -1">
                <label>Liste des activités secondaires</label>
                <p-multiSelect [disabled]="model.IsPaidSubscription || model.Statut == 'signed'" [options]="allSecondaryActivitiesList" [maxSelectedLabels]="1" selectedItemsLabel="{0} activités selectionné" defaultLabel="liste des activités" name="SecondaryActivitiesList" [(ngModel)]="model.SecondaryActivitiesList"></p-multiSelect>
            </div>
            <div class="col-xs-12 col-md-3" *ngIf="model.SecondaryActivities?.length > 0 && model.SecondaryActivities.indexOf('') == -1">
                <label for="otherSecondary" class="block">Autre ?</label>
                <input [readonly]="model.IsPaidSubscription || model.Statut == 'signed'" type="text" class="form-control" name="otherSecondary" [(ngModel)]="otherSecondary" (blur)="bloqueProject($event.target.value)" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <p class="alert">{{alertPrimary}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-3">
                <label for="AnnualRevenue">CA connu ou prévisionnel</label>
                <input type="number" id="AnnualRevenue" class="form-control"
                       required maxRevenue="5000000" [readonly]="model.IsPaidSubscription || model.Statut == 'signed'"
                       min="0" max="5000000" step=".01"
                       name="AnnualRevenue" [(ngModel)]="model.AnnualRevenue"
                       #AnnualRevenue="ngModel"
                       (change)="getPrice(AnnualRevenue)">
                <div *ngIf="AnnualRevenue.errors && (AnnualRevenue.dirty || AnnualRevenue.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!AnnualRevenue.errors.required">
                        Chiffre d'affaires obligatoire
                    </div>
                    <div [hidden]="!AnnualRevenue.errors.maxRevenue">
                        Chiffre d'affaires < 5 000 000 uniquement
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <label for="BaseLevel">Choix du montants de garantie</label>
                <select [disabled]="model.IsPaidSubscription || model.Statut == 'signed'" class="form-control" id="BaseLevel" required [(ngModel)]="model.Base.Level" name="BaseLevel" #BaseLevel="ngModel" (change)="getPrice(BaseLevel)">
                    <option value="">---</option>
                    <option value="100000">100 000</option>
                    <option value="300000">300 000</option>
                    <option value="500000">500 000</option>
                    <option value="750000">750 000</option>
                    <option value="1000000">1 000 000</option>
                    <option value="1500000">1 500 000</option>
                    <option value="2000000">2 000 000</option>
                </select>
                <div *ngIf="BaseLevel.errors && (BaseLevel.dirty || BaseLevel.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!BaseLevel.errors.required">
                        Garantie obligatoire obligatoire
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-md-3">
                <label for="EffectDate">Date de prise d'effet</label>
                <input [readonly]="model.IsPaidSubscription || model.Statut == 'signed'" type="date" id="EffectDate" class="form-control" required name="EffectDate" [ngModel]="model.EffectDate | date:'yyyy-MM-dd'" #EffectDate="ngModel" [minDate]="minDate" [min]="minDate | date:'yyyy-MM-dd'" (ngModelChange)="model.EffectDate = $event; check(EffectDate)">
                <div *ngIf="EffectDate.errors && (EffectDate.dirty || EffectDate.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!EffectDate.errors.required">
                        La date d'effet est obligatoire
                    </div>
                    <div [hidden]="!EffectDate.errors.minDate">
                        La date d'effet ne peut pas être rétroactive
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-md-3">
                <label for="DueDate">Date d'échéance</label>
                <input [readonly]="model.IsPaidSubscription || model.Statut == 'signed'" type="date" id="DueDate" class="form-control"
                       required
                       name="DueDate" [ngModel]="model.DueDate | date:'yyyy-MM-dd'" (ngModelChange)="model.DueDate = $event; check(DueDate)"
                       #DueDate="ngModel" [minDate]="setMinDate(EffectDate.model)">
                <div *ngIf="DueDate.errors && (DueDate.dirty || DueDate.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!DueDate.errors.required">
                        La date d'échéance est obligatoire
                    </div>
                    <div [hidden]="!DueDate.errors.minDate">
                        La date d'échéance doit être postérieure à la date d'effet
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="priceLoad">
            <div class="col-xs-12 col-md-4 col-xs-offset-0 col-md-offset-4">
                <div class="pricePanel">
                    <h2>Montant de la cotisation</h2>
                    <div class="price">{{ model.Base.Price | currency:'EUR':true }}/ttc</div>
                    <div class="franchise">Franchise: {{ model.Franchise }} €</div>
                </div>
            </div>
        </div>
        <div class="BkgTitle">
            <h2><i class="fa fa-user"></i> Informations Client</h2>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-md-3" *ngIf="!display">
                <label for="ClientName">Nom de l'entreprise</label>
                <input [readonly]="model.IsPaidSubscription || model.Statut == 'signed'" type="text" id="ClientName" class="form-control"
                       required minlength="3" maxlength="24"
                       name="ClientName" [(ngModel)]="model.Client.Name"
                       #ClientName="ngModel">
                <div *ngIf="ClientName.errors && (ClientName.dirty || ClientName.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!ClientName.errors.required">
                        Le nom de l'entreprise est obligatoire
                    </div>
                    <div [hidden]="!ClientName.errors.minlength">
                        Le nom doit avoir 3 caractères minimum
                    </div>
                    <div [hidden]="!ClientName.errors.maxlength">
                        Le nom doit 24 caractères maximum
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-md-3">
                <label for="ClientSiret">Siren/Siret</label>
                <input type="text" id="ClientSiret" class="form-control"
                       minlength="14" maxlength="14"
                       name="ClientSiret" [(ngModel)]="model.Client.Siret"
                       #ClientSiret="ngModel" [readonly]="model.IsPaidSubscription || model.Statut == 'signed'">
                <div *ngIf="ClientSiret.errors && (ClientSiret.dirty || ClientSiret.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!(ClientSiret.errors.minlength || ClientSiret.errors.maxlength)">
                        14 chiffres exactement
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-md-3">
                <label for="ClientMail">Email</label>
                <input [readonly]="model.IsPaidSubscription || model.Statut == 'signed'" type="email" id="ClientMail" class="form-control" required name="ClientMail" email [(ngModel)]="model.Client.MailPhoneFax.EmailAddress" #ClientMail="ngModel">
                <div *ngIf="ClientMail.errors && (ClientMail.dirty || ClientMail.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!ClientMail.errors.required">
                        L'adresse email est obligatoire
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-md-3" *ngIf="!display">
                <label for="ClientPhone">Téléphone</label>
                <input [readonly]="model.IsPaidSubscription || model.Statut == 'signed'" type="text" id="ClientPhone" class="form-control" required minlength="10" maxlength="10" name="ClientPhone" [(ngModel)]="model.Client.MailPhoneFax.MobilePhoneNumber" (change)="sendElement()" #ClientPhone="ngModel">
                <div *ngIf="ClientPhone.errors && (ClientPhone.dirty || ClientPhone.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!ClientPhone.errors.required">
                        Le numéro de téléphone est obligatoire
                    </div>
                    <div [hidden]="!(ClientPhone.errors.minlength || ClientPhone.errors.maxlength)">
                        10 chiffres exactament
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-md-3">
                <label for="ClientAdresse">Adresse</label>
                <input [readonly]="model.IsPaidSubscription || model.Statut == 'signed'" type="text" id="ClientAdresse" class="form-control"
                       minlength="4" maxlength="24"
                       name="ClientAdresse" [(ngModel)]="model.Client.Address.Address"
                       #ClientAdresse="ngModel">
                <div *ngIf="ClientAdresse.errors && (ClientAdresse.dirty || ClientAdresse.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!ClientAdresse.errors.minlength">
                        4 caractères minimum
                    </div>
                    <div [hidden]="!ClientAdresse.errors.maxlength">
                        24 caractères maximum
                    </div>
                </div>
            </div>


            <!--<div class="col-md-6">
                <label class="label-form">Code Postal</label>
                <label class="input">
                    <i class="icon-prepend fa fa-map-marker"></i>
                    <input type="number" class="form-control" required minlength="5" maxlength="5" name="PostalAddress.PostCode" [(ngModel)]="broker.PostalAddress.PostCode" #PostalAddress_PostCode="ngModel" (change)="getCities()" />
                </label>
                <div class="inputInfoBlock">
                    <div *ngIf="PostalAddress_PostCode.errors && (PostalAddress_PostCode.dirty || PostalAddress_PostCode.touched)" class="alert alert-danger">
                        <div [hidden]="!PostalAddress_PostCode.errors.required">
                            Le code postal est obligatoire
                        </div>
                        <div [hidden]="!PostalAddress_PostCode.errors.minlength">
                            Le code postal doit avoir 5 caractères
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <label class="label-form">Ville</label>
                <label class="input">
                    <i class="icon-prepend fa fa-building"></i>
                    <select class="form-control selectCity" name="city" [(ngModel)]="broker.PostalAddress.City">
                        <option *ngIf="cities == null" [ngValue]="city">{{city}}</option>
                        <option *ngFor="let city of cities" [ngValue]="city">{{city}}</option>
                    </select>
                </label>
            </div>-->

            <div class="form-group col-xs-12 col-md-3">
                <label for="ClientPostCode">Code Postal</label>
                <input [readonly]="model.IsPaidSubscription || model.Statut == 'signed'" type="text" placeholder="5 chiffres" minlength="5" maxlength="5" id="ClientPostCode" class="form-control" required postCode name="ClientPostCode" [(ngModel)]="model.Client.Address.PostCode" #ClientPostCode="ngModel" (change)="getCities()" />
                <div *ngIf="ClientPostCode.errors && (ClientPostCode.dirty || ClientPostCode.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!ClientPostCode.errors.required">
                        Le code postal est obligatoire
                    </div>
                    <div [hidden]="!ClientPostCode.errors.postCode">
                        5 chiffres exactement
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-md-3">
                <label>Ville</label>
                <select [disabled]="model.IsPaidSubscription || model.Statut == 'signed'" class="form-control selectCity" name="city" [(ngModel)]="model.Client.Address.City">
                    <option *ngFor="let city of cities" [ngValue]="city">{{city}}</option>
                </select>
            </div>
        </div>
        <div *ngIf="!(model.IsPaidSubscription || model.Statut == 'signed')">
            <div class="BkgTitle" *ngIf="model.PrimaryActivity != ''">
                <h2><i class="fa fa-question-circle"></i> Questions de souscription</h2>
            </div>
            <div *ngIf="model.PrimaryActivity == 'Conseil' || model.PrimaryActivity == 'Marketing & Media'">
                <div class="row">
                    <div class="col-xs-12">
                        <p>1) Possédez-vous un établisement permanent ou une filiale situé en dehors de la france métropolitaine ?</p>
                        <label class="radio-inline"><input type="radio" name="q1" value="true" [(ngModel)]="questionMediaList[0]" #q1="ngModel" required yesNo="true">Oui</label>
                        <label class="radio-inline"><input type="radio" name="q1" value="false" [(ngModel)]="questionMediaList[0]">Non</label>
                    </div>
                    <div class="col-md-4" *ngIf="q1.errors && (q1.dirty || q1.touched)">
                        <div class="alert alert-danger" [hidden]="!q1.errors.yesNo">Vous ne pouvez pas souscrire à cette offre si votre établisement est en dehors de la france métropolitaine.</div>
                        <div class="alert alert-danger" [hidden]="!q1.errors.required">Vous devez répondre à cette question.</div>
                    </div>
                </div>
                <div class="row" *ngIf="questionMediaList[0] != null">
                    <div class="col-xs-12">
                        <p>2) Exercez-vous vos activités dans les secteurs ou domaines suivants : Militaires ou Défense, Institutions Financières, Architecture, Aérospatiale-Aéronautique, Médical, ou dans les domaines suivants : Conseil en fusion / acquisition, Conseil en restructuration ?</p>
                        <label class="radio-inline"><input type="radio" name="q2" value="true" [(ngModel)]="questionMediaList[1]" #q2="ngModel" required yesNo="true">Oui</label>
                        <label class="radio-inline"><input type="radio" name="q2" value="false" [(ngModel)]="questionMediaList[1]">Non</label>
                    </div>
                    <div class="col-md-4" *ngIf="q2?.errors && (q2?.dirty || q2?.touched)">
                        <div class="alert alert-danger" [hidden]="!q2.errors.yesNo">Vous ne pouvez pas souscrire à cette offre</div>
                        <div class="alert alert-danger" [hidden]="!q2.errors.required">Vous devez répondre à cette question.</div>
                    </div>
                </div>
                <div class="row mb20" *ngIf="questionMediaList[1] != null">
                    <div class="col-xs-12">
                        <p>3) Exercez-vous des activités de "Vente", et/ou de "Maintenance" de matériels ou d’objets ?</p>
                        <label class="radio-inline"><input type="radio" name="q3" value=true [(ngModel)]="questionMediaList[2]">Oui</label>
                        <label class="radio-inline"><input type="radio" name="q3" value=false [(ngModel)]="questionMediaList[2]">Non</label>
                    </div>
                </div>
                <div class="row" *ngIf="questionMediaList[2] == 'true'">
                    <div class="col-xs-12">
                        <p>Cela représente-t-il moins de 25% de votre Chiffre d'Affaires annuel ?</p>
                        <label class="radio-inline"><input type="radio" name="q3-1" value=true [(ngModel)]="questionMediaList[3]" #q31="ngModel" required yesNo="false">Oui</label>
                        <label class="radio-inline"><input type="radio" name="q3-1" value=false [(ngModel)]="questionMediaList[3]">Non</label>
                    </div>
                    <div class="col-xs-12 col-md-4" *ngIf="q31?.errors && (q31?.dirty || q31?.touched)">
                        <div class="alert alert-danger" [hidden]="!q31.errors.yesNo">Vous ne pouvez pas souscrire à cette offre</div>
                        <div class="alert alert-danger" [hidden]="!q31.errors.required">Vous devez répondre à cette question.</div>
                    </div>
                </div>
                <div class="row" *ngIf="questionMediaList[2] != null">
                    <div class="col-xs-12">
                        <p>4) Au cours des 3 dernières années, avez-vous fait l’objet d’une ou plusieurs réclamations en responsabilité ?</p>
                        <label class="radio-inline"><input type="radio" name="q4" value=true [(ngModel)]="questionMediaList[4]" #q4="ngModel" required yesNo="true">Oui</label>
                        <label class="radio-inline"><input type="radio" name="q4" value=false [(ngModel)]="questionMediaList[4]">Non</label>
                    </div>
                    <div class="col-xs-12 col-md-4" *ngIf="q4?.errors && (q4?.dirty || q4?.touched)">
                        <div class="alert alert-danger" [hidden]="!q4.errors.yesNo">Vous ne pouvez pas souscrire à cette offre</div>
                        <div class="alert alert-danger" [hidden]="!q4.errors.required">Vous devez répondre à cette question.</div>
                    </div>
                </div>
                <!--<div class="row mb20" *ngIf="questionMediaList[5] != null">
                    <div class="col-md-12">
                        <p>5) Souhaitez-vous une garantie RC Professionnelle pour les exports aux USA/Canada ?</p>
                        <label class="radio-inline"><input type="radio" name="q6" value=true [(ngModel)]="questionMediaList[6]" />Oui</label>
                        <label class="radio-inline"><input type="radio" name="q6" value=false [(ngModel)]="questionMediaList[6]" />Non</label>
                    </div>
                </div>
                <div class="row" *ngIf="questionMediaList[6] == 'true'">
                    <div class="col-md-12">
                        <p>6) La part export représente-t-elle moins de 20% de votre chiffre d’affaires annuel ?</p>
                        <label class="radio-inline"><input type="radio" name="q7" value=true [(ngModel)]="questionMediaList[7]" (change)="question($event.target.value)">Oui</label>
                        <label class="radio-inline"><input type="radio" name="q7" value=false [(ngModel)]="questionMediaList[7]" (change)="question($event.target.value)">Non</label>
                    </div>
                    <div class="col-md-4">
                        <div class="alert alert-danger" *ngIf="questionMediaList[7] == 'true'">Augmentation du tarif de +35%</div>
                    </div>
                </div>-->
            </div>

            <div *ngIf="model.PrimaryActivity == 'Informatique'">
                <div class="row">
                    <div class="col-xs-12">
                        <p>1) Possédez-vous un établissement permanent ou une filiale situé(e) en dehors de l’<a href="https://www.service-public.fr/particuliers/glossaire/R42218" target="_blank">Espace Economique Européen</a> ?</p>
                        <label class="radio-inline"><input type="radio" name="t1" value=true [(ngModel)]="questionInfoList[0]" #t1="ngModel" required yesNo="true">Oui</label>
                        <label class="radio-inline"><input type="radio" name="t1" value=false [(ngModel)]="questionInfoList[0]">Non</label>
                    </div>
                    <div class="col-md-4" *ngIf="t1?.errors && (t1?.dirty || t1?.touched)">
                        <div class="alert alert-danger" [hidden]="!t1.errors.yesNo">Vous ne pouvez pas souscrire à cette offre</div>
                        <div class="alert alert-danger" [hidden]="!t1.errors.required">Vous devez répondre à cette question.</div>
                    </div>
                </div>
                <div class="row" *ngIf="questionInfoList[0] != null">
                    <div class="col-xs-12">
                        <p>2) Fournissez-vous des solutions destinées à être embarquées dans des véhicules, trains, métros, aéronefs ou engins spatiaux ou à être utilisées dans des centrales nucléaires ou autre système ou équipement de production d’énergie ou dans le domaine médical ?</p>
                        <label class="radio-inline"><input type="radio" name="t2" value=true [(ngModel)]="questionInfoList[1]" #t2="ngModel" required yesNo="true">Oui</label>
                        <label class="radio-inline"><input type="radio" name="t2" value=false [(ngModel)]="questionInfoList[1]">Non</label>
                    </div>
                    <div class="col-xs-12 col-md-4" *ngIf="t2?.errors && (t2?.dirty || t2?.touched)">
                        <div class="alert alert-danger" [hidden]="!t2.errors.yesNo"><p>Vous ne pouvez pas souscrire à cette offre</p></div>
                        <div class="alert alert-danger" [hidden]="!t2.errors.required">Vous devez répondre à cette question.</div>
                    </div>
                </div>
                <div class="row" *ngIf="questionInfoList[1] != null">
                    <div class="col-xs-12">
                        <p>3) Au cours des 3 dernières années, avez-vous fait l’objet d’une ou plusieurs réclamations en responsabilité ?</p>
                        <label class="radio-inline"><input type="radio" name="t3" value=true [(ngModel)]="questionInfoList[2]" #t3="ngModel" required yesNo="true">Oui</label>
                        <label class="radio-inline"><input type="radio" name="t3" value=false [(ngModel)]="questionInfoList[2]">Non</label>
                    </div>
                    <div class="col-md-4" *ngIf="t3?.errors && (t3?.dirty || t3?.touched)">
                        <div class="alert alert-danger" [hidden]="!t3.errors.yesNo">Vous ne pouvez pas souscrire à cette offre</div>
                        <div class="alert alert-danger" [hidden]="!t3.errors.required">Vous devez répondre à cette question.</div>
                    </div>
                </div>
                <div class="row mb20" *ngIf="questionInfoList[2] != null">
                    <div class="col-xs-12">
                        <p>4) Souhaitez-vous une extension de garantie RC Professionnelle pour vos exports aux Etats-Unis ou au Canada ?</p>
                        <label class="radio-inline"><input type="radio" name="t4" value=true [(ngModel)]="model.WithGuarantee" />Oui</label>
                        <label class="radio-inline"><input type="radio" name="t4" value=false [(ngModel)]="model.WithGuarantee" />Non</label>
                    </div>
                </div>
                <div class="row" *ngIf="model.WithGuarantee == 'true'">
                    <div class="col-xs-12">
                        <p>5) Vos exports USA/Canada représentent-ils moins de 20% de votre Chiffre d’Affaires annuel ?</p>
                        <label class="radio-inline"><input type="radio" name="t5" value=true [(ngModel)]="questionInfoList[4]" (change)="question($event.target.value)" #t5="ngModel" required yesNo="true">Oui</label>
                        <label class="radio-inline"><input type="radio" name="t5" value=false [(ngModel)]="questionInfoList[4]" (change)="question($event.target.value)">Non</label>
                    </div>
                    <div class="col-xs-12 col-md-4" *ngIf="t5?.errors && (t5?.dirty || t5?.touched)">
                        <div class="alert alert-danger" [hidden]="!t5.errors.yesNo">Augmentation du tarif de +25%</div>
                        <div class="alert alert-danger" [hidden]="!t5.errors.required">Vous devez répondre à cette question.</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="priceLoad">
            <div class="BkgTitle" *ngIf="model.Base.Price != null">
                <h2><i class="fa fa-info"></i> Rappel de votre cotisation annuel <span class="rappel">{{ model.Base.Price | number : '1.2-2' }} €/ttc</span></h2>
            </div>
            <div class="row">
                <p *ngIf="model.OptionAp || model.OptionMd">Vous avez optez pour les options suivantes : <span class="rappel" *ngIf="model.OptionAp">USA/CANADA</span><span *ngIf="model.OptionAp && model.OptionMd"> et </span><span class="rappel" *ngIf="model.OptionMd">Extentsion de garantie</span></p>
            </div>
        </div>

        <div class="BkgTitle">
            <h2><i class="fa fa-euro"></i> Option de payement</h2>
        </div>
        <div class="row" *ngIf="model.IsPaidSubscription">
            <p class="text-success" style="font-size:18px;padding: 0 15px;"><strong>Cotisation payée</strong></p>
        </div>
        <div class="row" *ngIf="!model.IsPaidSubscription">
            <div class="col-xs-12" style="margin-bottom: 30px;">
                <p-selectButton [options]="paiementList" name="PaymentMethod" [(ngModel)]="model.PaymentMethod"></p-selectButton>
            </div>
            <div class="row" *ngIf="model.PaymentMethod == 'P'">
                <div class="form-group col-xs-12 col-md-4">
                    <label for="ClientIban">Iban</label>
                    <input type="text" id="ClientIban" class="form-control"
                           minlength="27" maxlength="27"
                           name="ClientIban" [(ngModel)]="model.Client.BankAccountData.Iban"
                           #ClientIban="ngModel">
                    <div *ngIf="ClientIban.errors && (ClientIban.dirty || ClientIban.touched)"
                         class="alert alert-danger">
                        <div [hidden]="!(ClientIban.errors.minlength || ClientIban.errors.maxlength)">
                            27 caractères exactement
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-md-3">
                    <label for="ClientBic">Bic</label>
                    <input type="text" id="ClientBic" class="form-control"
                           minlength="8" maxlength="11"
                           name="ClientBic" [(ngModel)]="model.Client.BankAccountData.Bic"
                           #ClientBic="ngModel">
                    <div *ngIf="ClientBic.errors && (ClientBic.dirty || ClientBic.touched)"
                         class="alert alert-danger">
                        <div [hidden]="!ClientBic.errors.minlength">
                            8 caractères minimum
                        </div>
                        <div [hidden]="!ClientBic.errors.maxlength">
                            11 caractères maximum
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="model.PaymentMethod == 'CB'">
                <div class="col-xs-12 col-md-4">
                    <button type="submit" class="btn" [disabled]="!productForm.form.valid">
                        <i class="fa fa-credit-card"></i> Payer en ligne
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf='otherPrimary == "" && otherSecondary == ""'>
            <div class="BkgTitle">
                <h2><i class="fa fa-clipboard"></i> Gestion des documents</h2>
            </div>

            <div class="row mb20">
                <div class="col-xs-12 col-md-6" *ngIf="model.Statut == 'signed'">
                    <h2 class="mainFont">Je gère mon devis</h2>
                    <button (click)="downloadPdf()" class="btn" [disabled]="!productForm.form.valid">
                        <i class="fa fa-download"></i> Télécharger mon devis signé
                    </button>
                </div>
                <div class="col-xs-12 col-md-6" *ngIf="model.Statut != 'signed'">
                    <h2 class="mainFont">Je gère mon devis</h2>
                    <button (click)="downloadPdf()" class="btn" [disabled]="!productForm.form.valid">
                        <i class="fa fa-download"></i> Télécharger mon devis
                    </button>
                    <button (click)="signProject()" class="btn" [disabled]="!productForm.form.valid">
                        <i class="fa fa-pencil-square-o"></i> Signer mon devis
                    </button>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h2 class="mainFont">J'ai besoin d'aide ou d'informations complémentaires</h2>
                    <p class="help-info">
                        <i class="fa fa-phone"></i> 06.71.33.33.46
                    </p>
                </div>
            </div>
        </div>
        <div *ngIf="otherPrimary != '' || otherSecondary != ''">
            <div class="BkgTitle">
                <h2><i class="fa fa-info"></i> Information</h2>
            </div>
            <p class="info">Votre profil nécessite une tarification sur-mesure, Galileo vous contactera dans les plus brefs délais avec une propositions tarifaire.</p>
        </div>

        <br />
        <br />
    </form>


    <p-dialog header="Information produit" [(visible)]="display" modal="modal" width="500" [responsive]="true">
        <p>
            Votre profil nécessite une tarification sur-mesure, Galileo vous contactera dans les plus brefs délais avec une propositions tarifaire.
        </p>
        <div class="form-group">
            <label for="ClientName">Nom de l'entreprise</label>
            <input type="text" id="ClientName" class="form-control"
                   required minlength="3" maxlength="24"
                   name="ClientName" [(ngModel)]="model.Client.Name"
                   #ClientName="ngModel">
            <div *ngIf="ClientName.errors && (ClientName.dirty || ClientName.touched)"
                 class="alert alert-danger">
                <div [hidden]="!ClientName.errors.required">
                    Le nom de l'entreprise est obligatoire
                </div>
                <div [hidden]="!ClientName.errors.minlength">
                    Le nom doit avoir 3 caractères minimum
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="ClientPhone">Téléphone</label>
            <input type="text" id="ClientPhone" class="form-control" required minlength="10" maxlength="10" name="ClientPhone" [(ngModel)]="model.Client.MailPhoneFax.MobilePhoneNumber" (change)="sendElement()" #ClientPhone="ngModel">
            <div *ngIf="ClientPhone.errors && (ClientPhone.dirty || ClientPhone.touched)"
                 class="alert alert-danger">
                <div [hidden]="!ClientPhone.errors.required">
                    Le numéro de téléphone est obligatoire
                </div>
                <div [hidden]="!ClientPhone.errors.minlength">
                    10 chiffres minimum
                </div>
            </div>
        </div>
        <p-footer>
            <button type="button" class="btn" (click)="sendElement()">Envoyer</button>
            <button type="button" class="btn" (click)="display=false">Annuler</button>
        </p-footer>
    </p-dialog>

    <p-dialog header="Paiement en ligne" [(visible)]="isPaymentPopUp" modal="modal" width="500" [responsive]="true">
        <form id="paymentForm" ngNoForm method="post" action="https://payment-webinit-mercanet.test.sips-atos.com/paymentInit">
            <input type="hidden" name="Data" [(ngModel)]="stringData">
            <input type="hidden" name="InterfaceVersion" value="HP_2.9">
            <input type="hidden" name="Seal" [(ngModel)]="seal">
            <p>
                Vous vous apprêtez à payer la cotisation annuelle de votre responsabilité civile au prix TTC de:
                <span class="rappel">{{ model.Base.Price | number : '1.2-2' }} €</span>
            </p>
        </form>
        <p-footer>
            <button type="button" class="btn" (click)="pay()">Payer</button>
            <button type="button" class="btn" (click)="isPaymentPopUp=false">Annuler</button>
        </p-footer>
    </p-dialog>

</div>
