﻿<p-growl [value]="msgs" [life]="5000"></p-growl>
<form #rcForm="ngForm" *ngIf="model">
    <div id="checkout-form" class="smart-form" novalidate="novalidate">
        <div>
            <h1 class="titleProduct vert">RC PRO PRESTATAIRE DE SERVICE</h1>
            <em class="margin-left-20 rouge t-dosis bold">* champs obligatoires</em>
        </div>
        <fieldset>
            <div class="row">
                <section class="col col-3">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="widget-icon">
                                <i class="fa fa-building"></i>
                            </span>Le proposant
                        </h3>
                    </div>
                </section>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <div class="ui-g" style="width: 250px; margin-bottom: 10px">
                        <label class="label-form">Familles d’activités<span class="asterix">*</span></label>
                        <div class="ui-g-12">
                            <p-dropdown name="FamilyActivity" [options]="FamilyActivity" [(ngModel)]="model.AxaServiceProModel.FamilyActivity" (onChange)="listFamilyActivity()"></p-dropdown>
                        </div>
                    </div>
                    <div *ngIf="model.AxaServiceProModel.ActivityList">
                        <label class="label-form">Liste d'activités<span class="asterix">*</span></label>
                        <div *ngFor="let activity of model.AxaServiceProModel.ActivityList" class="col col-md-12">
                            <p-checkbox name="{{activity.Key}}" binary="true" label="{{ 'FAMILY-ACTIVITY.' + activity.Key }}" [(ngModel)]="activity.Value"></p-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="margin-bottom-5 margin-top-5" />
            <div class="row">
                <div class="col col-md-12">
                    <label class="label-form">Êtes-vous autoentrepreneur ?</label>
                    <div class="inline-group margin-bottom-10">
                        <p-radioButton name="Freelancer" [value]="true" label="Oui" [(ngModel)]="model.AxaServiceProModel.Freelancer" (click)="calculateRcPrice()" class="margin-left-20"></p-radioButton>
                        <p-radioButton name="Freelancer" [value]="false" label="Non" [(ngModel)]="model.AxaServiceProModel.Freelancer" (click)="calculateRcPrice()" class="margin-left-20"></p-radioButton>
                    </div>
                    <div *ngIf="model.AxaServiceProModel.Freelancer == false">
                        <label class="label-form">Votre dernier chiffre d'affaires est-il supérieur à 200 000 € ?</label>
                        <div class="inline-group margin-bottom-10">
                            <p-radioButton name="RevenueUpper" [value]="true" label="Oui" [(ngModel)]="model.AxaServiceProModel.RevenueUpper" (click)="calculateRcPrice()" class="margin-left-20"></p-radioButton>
                            <p-radioButton name="RevenueUpper" [value]="false" label="Non" [(ngModel)]="model.AxaServiceProModel.RevenueUpper" (click)="calculateRcPrice()" class="margin-left-20"></p-radioButton>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-3">
                    <label class="label-form">Quel est votre dernier CA déclaré ou votre CA prévisionnel si création<span class="asterix">*</span></label>
                    <label class="input">
                        <i class="icon-prepend fa fa-euro"></i>
                        <input type="number" step="0.01" name="DeclaredRevenue" pInputText [(ngModel)]="model.AxaServiceProModel.DeclaredRevenue" (change)="calculateRcPrice()" />
                    </label>
                </div>
                <div class="col col-3">
                    <div class="ui-g" style="width: 250px; margin-bottom: 10px">
                        <label class="label-form">TCV :<br /> {{model.Commission}}%</label>
                        <div class="ui-g-12">
                            <p-dropdown name="Commissioning" [options]="commissionList" [(ngModel)]="model.Commission" (onChange)="calculateRcPrice()"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <section class="col col-3">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="widget-icon">
                                <i class="fa fa-euro"></i>
                            </span>Tarif
                        </h3>
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col col-3">
                    <label class="label-form">Annuel</label>
                    <label class="input">
                        <i class="icon-prepend fa fa-euro"></i>
                        <input type="text" name="AnnualRate" pInputText [(ngModel)]="model.AxaServiceProModel.AnnualRate" readonly />
                    </label>
                </section>
                <section class="col col-3">
                    <label class="label-form">Semestriel</label>
                    <label class="input">
                        <i class="icon-prepend fa fa-euro"></i>
                        <input type="text" name="SixMonthRate" pInputText [(ngModel)]="model.AxaServiceProModel.SixMonthRate" readonly />
                    </label>
                </section>
                <section class="col col-3">
                    <label class="label-form">Mensuel</label>
                    <label class="input">
                        <i class="icon-prepend fa fa-euro"></i>
                        <input type="text" name="BasePrice" pInputText [(ngModel)]="model.Base.Price" readonly />
                    </label>
                </section>
                <section class="col col-3">
                    <label class="label-form">TCV estimé</label>
                    <label class="input">
                        <i class="icon-prepend fa fa-euro"></i>
                        <input type="text" name="EstimatedCommission" pInputText [(ngModel)]="model.AxaServiceProModel.EstimatedCommission" readonly />
                    </label>
                </section>
            </div>
        </fieldset>

        <fieldset>
            <div class="row">
                <div class="col col-md-12">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="widget-icon">
                                <i icon="fa-briefcase"></i>
                            </span>Déclaration RC Professionnelle
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="t-dosis bleuCiel bold font-19">Le souscripteur déclare</p>
                    <div class="inline-group margin-bottom-10">
                        <label class="checkbox">
                            <input type="checkbox" name="AutoEntrepreneurConditions" [(ngModel)]="model.AxaServiceProModel.AutoEntrepreneurConditions" />
                            <i></i>Remplir les conditions d’attributions du statut d’auto entrepreneur si la réponse oui a été cochée ou avoir un Chiffre d’affaires ne dépassant pas €200 000 HT annuels
                        </label>
                    </div>
                    <div class="inline-group margin-bottom-10">
                        <label class="checkbox">
                            <input type="checkbox" name="InfoNotice" [(ngModel)]="model.AxaServiceProModel.InfoNotice" />
                            <i></i>Avoir pris connaissance de la notice d’information valant conditions générales et en accepter l’intégralité des termes. <a target="_blank" href="/Content/pdf/iard_rc_autoentrep_petitesstructures_axa_ni_v1.pdf">Télécharger la notice d'informations</a>
                        </label>
                    </div>
                    <div class="inline-group margin-bottom-10">
                        <button pButton class="btn bg-color-purple txt-color-white" type="button" (click)="showDialog()" label="Cliquez ici pour la déclaration de l'assuré" style="float: left;"></button>
                    </div>
                    <rc-declaration #rcModal [checkedDeclarationInput]="model.AxaServiceProModel.IsAccepted" (checkedDeclarationOutput)="model.AxaServiceProModel.IsAccepted = $event"></rc-declaration>
                </div>
            </div>
        </fieldset>
        <div *ngIf="model.AxaServiceProModel.IsAccepted && model.AxaServiceProModel.AutoEntrepreneurConditions && model.AxaServiceProModel.InfoNotice">
            <fieldset>
                <div class="row">
                    <div class="col-6">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="widget-icon">
                                    <i class="fa fa-user-secret"></i>
                                </span>Profil
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3 margin-bottom-10">
                        <label class="label-form">Civilité</label>
                        <div class="ui-g-12">
                            <p-dropdown name="LegalStatut" [options]="LegalStatutList" [(ngModel)]="model.AxaServiceProModel.LegalStatut"></p-dropdown>
                            <i></i>
                        </div>
                    </div>
                    <creation-date-helper [model]="model.AxaServiceProModel" (modelChange)="model.AxaServiceProModel = $event"></creation-date-helper>
                    <client-company-helper [model]="model.Client" [inputList]="['Siret', 'NafCode']" (modelChange)="model.Client" *ngIf="model.Client"></client-company-helper>
                </div>
                <div class="row">
                    <div *ngIf="model.AxaServiceProModel.LegalStatut == 'PersonnePhysique'">
                        <client-person-helper [model]="model" [inputList]="['Name']" (modelChange)="model = $event" *ngIf="model.ClientPerson"></client-person-helper>
                    </div>
                    <div *ngIf="model.AxaServiceProModel.LegalStatut == 'PersonneMorale'">
                        <client-company-helper [model]="model.Client" [inputList]="['LegalForm', 'Name']" (modelChange)="model.Client" *ngIf="model.Client"></client-company-helper>
                    </div>
                    <client-company-helper [model]="model.Client" [inputList]="['ContactDetails', 'Address', 'CityPostCode']" (modelChange)="model.Client" *ngIf="model.Client"></client-company-helper>
                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <div class="col col-3">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="widget-icon">
                                    <i class="fa fa-bank"></i>
                                </span>Prise d'effet et conditions tarifaires
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <effect-date-helper [model]="model" [startDate]="startDate" [endDate]="endDate" [firstOfMonth]="false" [roles]="roles" (modelChange)="model = $event" *ngIf="roles.length"></effect-date-helper>
                </div>
                <div class="row">
                    <div class="col col-12 divisionAxa">
                        <p class="bold margin-bottom-10">Fractionnement souhaité <span class="asterix">*</span></p>
                        <div class="inline-group margin-bottom-10">
                            <label class="radio">
                                <input type="radio" name="Division" pInputText [(ngModel)]="model.AxaServiceProModel.Division" value="Mensuel" />
                                <i></i>Mensuel
                            </label>
                            <label class="radio">
                                <input type="radio" name="Division" pInputText [(ngModel)]="model.AxaServiceProModel.Division" value="Semestriel" />
                                <i></i>Semestriel
                            </label>
                            <label class="radio">
                                <input type="radio" name="Division" pInputText [(ngModel)]="model.AxaServiceProModel.Division" value="Annuel" />
                                <i></i>Annuel
                            </label>
                        </div>
                    </div>
                </div>
                <payment [model]="model" [inputList]="['C', 'P', 'AccountData']" (modelChange)="updatePayment($event)"></payment>
            </fieldset>
            <documents-helper [model]="model" [roles]="roles" [inputList]="['Bae', 'Download', 'Sign', 'Save', 'Bridge']"></documents-helper>
        </div>
    </div>
</form>